<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h4>Reservas del día (Pistas Usadas):</h4>
      <table mat-table [dataSource]="dataSourceWhole" class="mat-elevation-z8">
        <ng-container matColumnDef="rsvId">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.rsvId}} </td>
        </ng-container>
        <ng-container matColumnDef="courtId">
          <th mat-header-cell *matHeaderCellDef> PISTA </th>
          <td mat-cell *matCellDef="let element"> {{element.courtId}} </td>
        </ng-container>
        <ng-container matColumnDef="rsvdateTime">
          <th mat-header-cell *matHeaderCellDef> FECHA </th>
          <td mat-cell *matCellDef="let element"> {{element.rsvdateTime}} </td>
        </ng-container>
        <ng-container matColumnDef="rsvday">
          <th mat-header-cell *matHeaderCellDef> FECHA </th>
          <td mat-cell *matCellDef="let element"> {{element.rsvday}} </td>
        </ng-container>
        <ng-container matColumnDef="rsvtime">
          <th mat-header-cell *matHeaderCellDef> HORA </th>
          <td mat-cell *matCellDef="let element"> {{element.rsvtime}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h4>Tus Reservas:</h4>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
      </ng-container>
      <ng-container matColumnDef="rsvId">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.rsvId}} </td>
      </ng-container>
      <ng-container matColumnDef="courtId">
        <th mat-header-cell *matHeaderCellDef> PISTA </th>
        <td mat-cell *matCellDef="let element"> {{element.courtId}} </td>
      </ng-container>
      <ng-container matColumnDef="rsvdateTime">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.rsvdateTime}} </td>
      </ng-container>
      <ng-container matColumnDef="rsvday">
        <th mat-header-cell *matHeaderCellDef> FECHA </th>
        <td mat-cell *matCellDef="let element"> {{element.rsvday}} </td>
      </ng-container>
      <ng-container matColumnDef="rsvtime">
        <th mat-header-cell *matHeaderCellDef> HORA </th>
        <td mat-cell *matCellDef="let element"> {{element.rsvtime}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMy;"></tr>
      </table>
    </div>
  </div>
  <form>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Fecha</label>
      <div class="col-sm-10">
        <input [matDatepicker]="myDatepicker" [(ngModel)]="reserva.date" (dateChange)="getAllReservations()"  name="date" >
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Nº de Pista</label>
      <div class="col-sm-10">
        <input type="number" min="1" max="4" class="form-control"  [(ngModel)]="reserva.pista"  name="pista" (change)="checkPista()" placeholder="Identificar la pista">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Hora de Inicio: </label>
      <div class="col-sm-10">
        <input type="time"  min="10:00" max="21:00"  class="form-control" [(ngModel)]="reserva.hour"  name="hour">
      </div>
    </div>
    <div class="form-group row">
      <ng-container *ngIf="countReservations>=4" >
        <div class="alert alert-danger">
          Ya tienes 4 reservas, si te apetece agregar una nueva debes eliminar alguna de las anteriores.
        </div>
      </ng-container>
      <ng-container *ngIf="countReservations<4" >
        <button type="button" class="btn btn-outline-success" (click)="postReservation()">Enviar</button>
      </ng-container>
      <button type="button" class="btn btn-outline-success" (click)="deleteSelection()">Borar</button>
    </div>
  </form>
</div>
