<div class="container">
  <div class="orange-element">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item padding-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.466871864403!2d-8.70595209191163!3d42.21526886891373!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2589d42e1c94b3%3A0xd2896945687dd333!2sVigo%20Padel!5e0!3m2!1ses!2ses!4v1574377060741!5m2!1ses!2ses"></iframe>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <h4 class="padding-text text-title">Disponemos de:</h4>
        <ul>
          <li>7 Pistas de padel cubiertas y reglamentarias.</li>
          <li>3 Pistas de padel semicubiertas y reglamentarias.</li>
          <li>2 Pistas de padel infantiles.</li>
          <li>Parking gratuito con capacidad para 35 coches.</li>
          <li>Tienda con todo tipo de material deportivo</li>
          <li>Cafetería</li>
          <li>Vestuario climatizado.</li>
          <li>2 Pistas de tenis.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
