<div class="container">
  <div class="orange-element">
    <div id="carouselExampleIndicators" class="carousel slide padding-carousel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../../assets/pista.jfif" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="orange-element">
              <h5 class="text-carousel"><strong>Las mejores pistas.</strong></h5>
              <p class="text-carousel"><strong>Nuestras pistas de padel son de gran calidad, y algunas tienen asientos para múltiples espectadores.</strong></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100"  src="../../assets/cafeteria.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="orange-element">
              <h5 class="text-carousel"><strong>Cafetería.</strong></h5>
              <p class="text-carousel"><strong>Un espacio para que nuestros socios puedan descansar y recuperar energías.</strong></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/clases-padel.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="orange-element">
              <h5 class="text-carousel"><strong>Escuela.</strong></h5>
              <p class="text-carousel"><strong>Clases personales con los mejores monitores e instructores.</strong></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../../assets/tienda-padel.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <div class="orange-element">
              <h5 class="text-carousel"><strong>Tienda.</strong></h5>
              <p class="text-carousel"><strong>Hasta un 50% de descuento para los nuevos socios. Ofertas con tiempo limitado.</strong></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
    </div>
  </div>
  <p class="lead text-center">
    Próximamente publicaremos una aplicación on-line asociada a esta página web, con todo tipo de material deportivo para jugar y entrenar al padel. Como costumbre los socios tendrán descuentos en esa tienda on-line, sin necesidad de pagar el envío de los productos.
    Estos envíos se podrán realizar en toda España y países cercanos como Portugal y Francia.
  </p>
</div>
