<div class="jumbotron jumbotron-fluid jumbotron-margin jumbotron-transparent">
  <div class="container">
    <h1 class="display-4">El mejor en Galicia</h1>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <p class="lead text-justify">En el Club Padel de Vigo tenemos las mejores instalaciones de padel en Galicia, y con disponibilidad los siete días de la semana.
          Cumplimos más de 15 años en el mundo deportivo, ofreciendo grandiosos servicios profesionales.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="../../assets/padel-galicia.png"/>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-margin">
  <div class="container">
    <h1 class="display-4 text-right">Los mejores costos</h1>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="../../assets/card.png"/>
      </div>
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <p class="lead text-justify">Ofrecemos diferentes tipos de planes asequibles para todo el público, con ventaja de horarios flexibles a gusto del cliente. Los planes
          van dirigidos a todas las edades gracias a las modalidades que poseemos. También disponemos de diversos medios de pago para llevar a cabo el proceso de matriculación anual.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-margin jumbotron-transparent">
  <div class="container">
    <h1 class="display-4">Equipo Profesional</h1>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <p class="lead text-justify">En nuestro club están los mejores instructores y monitores del país a disposición de todos los alumnos. Siempre usamos los mejores equipos deportivos para ofrecer
          la mejor calidad durante los entrenamientos y encuentros. Nuestro objetivo es formar constantemente los mejores deportistas de padel de la provincia.
        </p>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center">
        <img src="../../assets/logo-padel.png" />
      </div>
    </div>
  </div>
</div>
