body {
  padding-top: 100px;
}

.alert-dialog{
  justify-content: flex-start;
  display: none;
  margin: 0;
}

.border-form{
  border-color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
