<div class="container">
  <img src="../../assets/vigopadelnew.jpg" class="img-fluid"/>
  <div class="row">
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Escuela</h4>
      <p class="text-justify">
        Hay más de 10 monitores e instructores personales en todas las categorias. Las clases para adultos están disponibles de lunes a sábado en diferentes turnos del día, las clases para niños de 7 a 14 años son de miércoles a sábado en el turno de la tarde.
      </p>
      <img src="../../assets/encuela.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Torneos</h4>
      <p class="text-justify">
        Realizamos y participamos en muchos torenos cada año. Organizamos cada 4 meses torneos con los socios del club; cada torneo posee diferentes categorías de acuerdo a las diferentes edades. Anualmente nos invitan a torneos nacionales para representar la provincia de Pontevedra, donde elegimos a nuestros jugadores con los mejores resultados de nuestros propios torneos, con el objetivo de ganar las competiciones nacionales.
      </p>
      <img src="../../assets/torneo.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Tarifas</h4>
      <p class="text-center">
        Socios / No Socios / Club Deportivo<br/>
        Desde apertura hasta 17.00 / 2.5 / 3.5 / 3<br/>
        De 17.00 hasta 18.30 / 3 / 4.5 / 4<br/>
        Desde 18.30 hasta 21.30 / 4.5/ 7 / 6.5<br/>
        A partir de 21.30 / 4 / 6 / 5.5<br/>
        Fines de semana y festivos / 3.5 / 5 / 4.5<br/>
      </p>
      <p class="text-center">
        90 minutos, luz incluida.<br/>
        Ventajas Socios: Reserva de pista con 10 días de antelación, posibilidad de reserva con 25 días de antelación en hora, descuento en escuela 10%.<br/>
        Taquilla 60 euros año, y socios gratis.
      </p>
    </div>
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Noticias</h4>
      <p class="text-justify">24/11/2019: En enero de 2020 el club tendrá dos nuevas pitas cubiertas.</p><br/>
      <p class="text-justify">10/11/2019: Este invierno inicia nuestro último torneo del año.</p><br/>
      <p class="text-justify">05/10/2019: Nuevas precios en la matriculación.</p><br/>
    </div>
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Tienda</h4>
      <p class="text-justify">
        Disponemos del mejor material deportivo para los entrenamientos, encuentros y torneos. La tienda está disponible para todo el público, los socios recibirán ofertas y descuentos constantemente.
      </p>
      <img src="../../assets/tienda.jpg" class="img-fluid"/>
    </div>
    <div class="col-md-4 padding-section">
      <h4 class="title-section">Contacto</h4>
      <p class="text-justify">Club Pádel Vigo es un club deportivo en el que pretendemos fomentar la práctica de este deporte en Vigo y su comarca. Contamos con unas instalaciones de 3000 m2.</p>
      <p class="text-justify">Correo: info@padelupm.com. Dirección: Carretera da Ponte Segade 29 - Sardoma - 36.214 Vigo</p>
    </div>
  </div>
  <div id="footer-place">
  </div>
</div>
