<div class="modal" data-backdrop="false" id="loginRegister" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registro</h5>
      </div>
      <div class="modal-body">
        <form #ngForm="ngForm" (ngSubmit)="addUser()">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Usuario</label>
            <div class="col-sm-8">
              <input required type="text" class="form-control" minlength="4" maxlength="8" ngModel [(ngModel)]="userEsquema.username" name="username"  #name=ngModel (focusout)="checkUser()" placeholder="Identificador del usuario">
              <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                <div *ngIf="name.errors.required">
                  El usuario es obligatorio.
                </div>
                <div *ngIf="name.errors.minlength">
                  El usuario debe tener al menos 4 caracteres.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Correo</label>
            <div class="col-sm-8">
              <input required type="email" class="form-control" [(ngModel)]="userEsquema.email" name="email" #email=ngModel  placeholder="Email">
              <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  El email es obligatorio.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Clave</label>
            <div class="col-sm-8">
              <input required type="password" minlength="5" class="form-control pass" [(ngModel)]="userEsquema.password" name="password" #password=ngModel placeholder="Password">
              <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
                <div *ngIf="password.errors.required">
                  La password es obligatoria.
                </div>
                <div *ngIf="password.errors.minlength">
                  La password debe tener al menos 5 caracteres.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Repetir Clave</label>
            <div class="col-sm-8">
              <input required type="password" minlength="5" class="form-control pass" [(ngModel)]="userEsquema.repeatPassword" name="password2" #password2=ngModel placeholder="Repetir Password">
              <div class="alert alert-danger" *ngIf="password2.invalid && (password2.dirty || password2.touched)">
                <div *ngIf="password2.errors.required">
                  La password es obligatoria.
                </div>
                <div *ngIf="password2.errors.minlength">
                  La password debe tener al menos 5 caracteres.
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label">Fecha Nacimiento</label>
            <div class="col-sm-8">
              <input type="date"  [(ngModel)]="userEsquema.birthdate" name="birthdate"/>
              <!--<input [matDatepicker]="myDatepicker" [(ngModel)]="userEsquema.birthdate" name="birthdate" >
              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>-->
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit"  [disabled]="!ngForm.valid" class="btn btn-outline-success" id="signIn" >Enviar</button>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
